.container{
    text-align: center;
    margin-top: 23px;
}
table{
    margin: auto;
}
input{
    font-size: 34px;
    border: 5px solid cadetblue;
    border-radius: 9px;
}
button{
    font-size:40px;
    border-radius: 9px;
    background: #978fa0;
    width:102px;
    height: 58px;
}
.calculator{
    border: 2px solid red;
    display: inline-block;
    background-color: #ff99f7;
    padding: 23px;
    border-radius: 53px;
}